<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Blog App vs</title>
</head>

<body>
  <header class="header">
    <div class="logo">
      <h1><a href="/">Blog App</a></h1>
    </div>
    <nav class="navbar">
        <a href="/" class="active">Create Blog</a>
        <a href="../blogs">View All Blogs</a>
    </nav>
  </header>
  <main>